Table{
	background-color:#5b3538;
}
month{display:block;
	width:300px;
	height:60px;
	text-align:center;
	margin:10px auto;
	font-size:25px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	line-height: 60px;
	background-color:#6d4848;
	border:3px solid #fff;
	color:#efe0d0;
}
MTable{display:block;
	width:950px;
	height:350px;
	background-color:#CD9B9B;
	margin:20px auto;
	border:3px solid #D22A2A;
}
TuTable{display:block;
	width:950px;
	height:350px;
	background-color:#CDCDB4;
	margin:20px auto;
	border:3px solid #6E8B3D;
}
WTable{display:block;
	width:950px;
	height:350px;
	background-color:#EEA9B8;
	margin:20px auto;
	border:3px solid #B03060;
}
TTable{display:block;
	width:950px;
	height:350px;
	background-color:#8B668B;
	margin:20px auto;
	border:3px solid #8B7D7B;
	}
FTable{display:block;
	width:950px;
	height:350px;
	background-color:#CDB5CD;
	margin:20px auto;
	border:3px solid #282328;
	}
Day{display:block;
	text-align:center;
	font-size:22px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding-top:30px;
}
profession{display:block;
	text-align:center;
	font-size:22px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-top:17px;
}
cardiologist{display:block;
	text-align:center;
	font-size:22px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-top:17px;
}
stomatolog{display:block;
	text-align:center;
	font-size:22px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-top:17px;
	}
oculist{display:block;
	text-align:center;
	font-size:22px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-top:17px;
}
neuropatologist{display:block;
	text-align:center;
	font-size:22px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-top:17px;
}
Nttn{display:block;
	width:200px;
	height:100px;
	border-top:2px solid #D22A2A;
	margin-top:50px;
	float:left;
	font-size:20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-left:30px;
	text-align:center;
}
nameРacient{display:block;
	margin:6px;
}
time{display:block;
	margin:4px;
}
type{display:block;
	margin:4px;
}
NumRoom{display:block;
	margin:4px;
}
