body {
margin: 0;
padding: 0;
}
#main {
background-color: #382123;
background-image: url("2-65 copy.jpg");
background-repeat: no-repeat;
height: 700px;
margin: 50px auto;
width: 1000px;
}
h2 {
background-color: rgba(0, 0, 0, 0.8);
color: #ed0e0e;
font-size: 35px;
height: 60px;
list-style-type: none;
position: relative;
text-align: center;
}
p {
color: #9ef0c9;
float: right;
font-family: Georgia,"Times New Roman",Times,serif;
font-size: 19px;
height: 250px;
line-height: 1.5;
margin-right: 110px;
padding-top: 150px;
text-align: center;
width: 500px;
}
ul {
margin-left: -40px;
margin-top: 80px;
width: 300px;
}
.fun {
background-color: #5e0808;
color: #2fc483;
display: block;
font-size: 25px;
font-weight: bold;
height: 80px;
line-height: 80px;
margin-top: 35px;
text-align: center;
text-transform: uppercase;
width: 300px;
}
.fun a {
color: #27db8d;
text-decoration: none;
}
h5 {
background-color: rgba(0, 0, 0, 0.9);
color: #fff;
font-size: 19px;
margin-top: 110px;
text-align: center;
}
#content {
color: #d4f6f7;
float: right;
width: 500px;
}
#content li {
color: #d4f6f7;
font-size: 22px;
margin: 0 auto 0 -70px;
padding: 10px;
text-align: left;
width: 200px;
}
.lb a {
color: #d4f6f7;
}
h4 {
color: #9ef0c9;
float: right;
font-family: Georgia,"Times New Roman",Times,serif;
font-size: 30px;
margin-right: 110px;
margin-top: 120px;
text-align: left;
width: 500px;
}
h4 a {
color: #9ef0c9;
text-decoration: none;
}
h3 {
color: #9ef0c9;
float: right;
font-family: Georgia,"Times New Roman",Times,serif;
font-size: 30px;
margin-right: 110px;
margin-top: 25px;
text-align: left;
width: 500px;
}
h3 a {
color: #9ef0c9;
text-decoration: none;
}
.left {
margin-left: 80px;
margin-top: 0;
}
